<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="client/css/styles.css">
  <script src="client/js/form.js" defer></script>
  <title>MaleGame</title>
</head>
<body>
  <h1>MaleGame</h1>
  <div class="container">
    <button class="create-room" type="button">Crear sala</button>
    <div class="line" />
    <form>
      <h3>Unirse a una sala</h3>
      <input type="text" placeholder="ingresa el código de la sala">
      <button class="join-room" type="submit">Unirse</button>
    </form>
  </div>
</body>
</html>