<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://localhost:8080/css/styles.css">
  <script type="module" src="http://localhost:8080/js/room.js" defer></script>
  <title>MaleGame</title>
</head>
<body>
  <h3 class="code">Código: <span></span></h3>
  <div class="container">
    <div class="word-container hidden">
      <div class="imposter hidden">
        <h4>Impostor</h4>
        <img src="https://fbi.cults3d.com/uploaders/33254756/illustration-file/8ff351f6-b3ab-4d40-87f2-ca9cdb965248/Among-Us.png" alt="amongus">
      </div>
      <h4 class="word hidden">Palabra</h4>
    </div>
    <button class="new-word" disabled>Minimo tres jugadores</button>
    <p class="players">Jugadores: <span>1</span></p>
  </div>
  <footer>
    <a href="/">Abandonar sala</d>
  </footer>
</body>
</html>